# Part of `travis-lazarus` (https://github.com/nielsAD/travis-lazarus)
# License: MIT

language: generic
sudo: required
dist: trusty

os:
  - linux
  - osx

env:
  global:
    - WINEPREFIX=~/.winelaz
    - DISPLAY=:99.0
  matrix:
    - LAZ_VER=1.8.4 # Use specific (binary) release

matrix:
  include:
    - os: linux
      env: LAZ_VER=1.8.4 LAZ_ENV=wine WINEARCH=win32 LAZ_OPT="--os=win32 --cpu=i386"
    # - os: linux
    #   env: LAZ_VER=1.8.4 LAZ_ENV=wine WINEARCH=win64 LAZ_OPT="--os=win64 --cpu=x86_64"
    # - os: linux
    #   env: LAZ_VER=1.8.4 LAZ_ENV=qemu-arm LAZ_OPT="--os=linux --cpu=arm"

before_install:
  # Start virtual display server
  - Xvfb $DISPLAY &
  - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
          sudo apt-get update;
          sudo apt-get install binutils-2.26;
          sudo ln -sf /usr/lib/binutils-2.26/bin/* /usr/bin/;
          sudo ln -sf /usr/lib/binutils-2.26/ldscripts/* /usr/lib/ldscripts/;
    fi
  - chmod +x .travis.install.py 

install:
  # Install prerequisites (fpc/lazarus/wine/qemu)
  - ./.travis.install.py

script:
  - lazbuild $LAZ_OPT ./src/travisplayground.lpi  # Build project
  - $LAZ_ENV ./src/bin/travisplayground # Run binary
  - sha1sum ./src/bin/travisplayground > ./src/bin/travisplayground.sha1

before_deploy:
  - export FILE_TO_UPLOAD=$(./src/bin/travisplayground)

deploy:
  provider: releases
  api_key:
  - secure: "encrypted deployment key"
  file_glob: true
  file: 
    - "${FILE_TO_UPLOAD}"~.sha1
  skip_cleanup: true
  on:
    repo: Xor-el/TravisPlayGround
    tags: true

notifications:
  email:
    on_success: false
    on_failure: change
